<div ng-show="!notLoading">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>

<div ng-show="notLoading" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Welcome</h1>
        </div>
        <div class="modal-body">
            <form name="myForm" novalidate>
                <div class="form-group">
                    <td class="col-md-10"><input type='text' class="form-control input-lg" id='userNameLogin'
                                                 placeholder="Benutzername" ng-model='login.user' required/>
                </div>

                <div class="form-group">
                    <input type='password' class="form-control input-lg" id='loginPasswort' ng-model='login.passwort'
                           placeholder="Passwort" required/>
                </div>

                <div class="form-group">
                    <input id='submitReg' ng-disabled="myForm.$invalid"
                           ng-click='getLoginData(login)' class="btn btn-block btn-lg btn-primary" value="Login"/>
                    <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Forgot Password</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
