<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Support Chat</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body" id="bodyChatText">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" ng-repeat="message in chatMessages | orderBy: 'timeClient'">
                        <!-- Message. Default to the left -->


                        <div class="direct-chat-msg " >

                            <div ng-if="message.nameClient == userNameOnlineCookie">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name pull-left">{{message.nameClient}}</span>
                                    <span class="direct-chat-timestamp pull-right">{{message.timeClient | amDateFormat:'HH:mm'}}</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="http://bootdey.com/img/Content/user_1.jpg"
                                     alt="Message User Image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    {{message.textClient}}
                                </div>
                            </div>

                            <div class="direct-chat-msg right">
                            <div ng-if="message.nameClient != userNameOnlineCookie">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right">{{message.nameClient}}</span>
                                <span class="direct-chat-timestamp pull-left">{{message.timeClient | amDateFormat:'HH:mm'}}</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="http://bootdey.com/img/Content/user_2.jpg"
                                 alt="Message User Image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text backgroundRandom">
                                {{message.textClient}}
                            </div>
                        </div>
                    </div>
                    <!-- /.direct-chat-text -->
                    <!-- /.direct-chat-msg -->
                </div>
                <!--/.direct-chat-messages-->
            </div>
            <!-- /.direct-chat-pane -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="input-group">
                <input type="text" id="inputText" name="message" placeholder="Type Message ..."
                       class="form-control">
                <span class="input-group-btn">
                    <button id="sendMessage" class="btn btn-primary btn-flat">Send</button>
                  </span>
            </div>
        </div>
        <!-- /.box-footer-->
    </div>
    <!--/.direct-chat -->
</div>
</div>
</div>