<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compitable" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>Aromeda</title>

    <!-- External -->
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components//angular-route/angular-route.js"></script>
    <script src="../../bower_components//angular-animate/angular-animate.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="../../bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="../../bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="../../bower_components/moment/moment.js"></script>
    <script src="../../bower_components/angular-moment/angular-moment.min.js"></script>



    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Audiowide:400' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../bower_components/AngularJS-Toaster/toaster.css">
    <!-- Internal -->


    <link rel="stylesheet" href="./styles/style.css">
</head>
<body ng-app="Spiel" id="bodyContent" >
<toaster-container
        toaster-options="{'time-out': 3000,
                'position-class': 'toast-bottom-right','close-button':true, 'limit': 1}"></toaster-container>
<header></header>
<side-bar></side-bar>
<div ng-view></div>

<script src="./app/app.module.js"></script>
<script src="./app/app.config.js"></script>
<script src="Components/Header/header.component.js"></script>
<script src="Components/Registrierung/registrierung.component.js"></script>
<script src="Components/Login/login.component.js"></script>
<script src="Components/Login/login.component.js"></script>
<script src="Components/Hauptseite/hauptseite.component.js"></script>
<script src="Components/SupportChat/chat.component.js"></script>
<script src="Components/Sidebar/sidebar.component.js"></script>
<script src="Service/socket.factory.js"></script>

</body>
</html>
