<div id="headerBody">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/main" style="font-size: 40px">Aromeda</a>
            </div>
            <ul class="nav navbar-nav">
                <li ng-class="{'active': auswahl == 1 || auswahl == null}"><a href="" ng-click="auswahlHead(1)">Home</a></li>
                <li ng-class="{'active': auswahl == 2}"><a href="" ng-click="auswahlHead(2)">Facebook</a></li>
                <li ng-class="{'active': auswahl == 3}"><a href="" ng-click="auswahlHead(3)">Manual</a></li>
                <li ng-class="{'active': auswahl == 4}"><a href="" ng-click="auswahlHead(4)">About us</a></li>
            </ul>
            <div class="pull-right" ng-show="showHeader">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': auswahl == 5}"><a href="" ng-click="auswahlHead(5); supportChat()">Support</a></li>
                    <li ng-class="{'active': auswahl == 6}"><a href="" ng-click="auswahlHead(6)">Forum</a></li>
                    <li ng-class="{'active': auswahl == 7}"><a href="" ng-click="auswahlHead(7); logout()">Logout</a></li>
                </ul>
            </div>
            <div class="pull-right" ng-show="!showHeader">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': auswahl == 7}"><a href="#/login" ng-click="auswahlHead(7)">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
