<div ng-show="!notLoading">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>


<div ng-show="notLoading" class="container container-background " style="border-top: 2px dashed black;">
    <div class="row">
        <div class="col-md-7">
            <div class="contentMain" ng-repeat="artikel in articelsForPage">
                <h2>
                    {{artikel.katArt}}
                </h2>
                <div class="imageNews">
                    <img src="../../images/maintenance.png" height="126" width="126"/>
                </div>
                {{artikel.textArt}}
                <a style="float: right" class="btn" href="#">View details »</a>

            </div>

        </div>
        <div class="col-md-5">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Registriert
                        </th>
                        <th>
                            E-Mail
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in allUserInfo | limitTo: 10">
                        <td>
                            1
                        </td>
                        <td class="col-md-4">
                            {{user.username}}
                        </td>
                        <td class="col-md-4">
                            {{user.data | amDateFormat:'DD.MM.YYYY'}}
                        </td>
                        <td class="col-md-4">
                            {{user.email}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="!loggedIn" class="page-header">
                <h1>
                    Anmelden
                </h1>
                <div class="modal-body ">
                    <form name="myForm" novalidate>
                        <div class="form-group">
                            <input type='text' class="form-control " id='userNameLogin'
                                   placeholder="Benutzername" ng-model='login.user' required/>
                        </div>

                        <div class="form-group">
                            <input type='password' class="form-control " id='loginPasswort'
                                   ng-model='login.passwort'
                                   placeholder="Passwort" required/>
                        </div>

                        <div class="form-group">
                            <input id='submitReg' ng-disabled="myForm.$invalid"
                                   ng-click='getLoginData(login)' class="btn btn-block btn-lg btn-primary"
                                   value="Login"/>
                            <span><a
                                    href="#">Forgot Password</a></span>
                        </div>
                    </form>
                </div>
            </div>
            <div ng-show="!loggedIn" class="page-header">
                <h1>
                    Registrieren Sie sich jetzt!

                </h1>
                <div class="form-group">
                    <input id='goToRegis'
                           class="btn btn-block btn-lg btn-primary"
                           ng-click="goReg()"
                           value="Registrieren"/>
                </div>
            </div>
        </div>
    </div>

</div>