<nav class="navbar-fixed" role="navigation">
    <div class="container">

        <div id="sidebar-wrapper" class="sidebar-toggle">
            <ul class="sidebar-nav">
                <li>
                    <a href="#item1">Arena</a>
                </li>
                <li>
                    <a href="#item2">Shop</a>
                </li>
                <li>
                    <a href="#item3">Character</a>
                </li>
                <li>
                    <a href="#item3">Mail</a>
                </li>
                <li>
                    <a href="#item3">Guild</a>
                </li>
                <li>
                    <a href="#item3">Dungeon</a>
                </li>
                <li>
                    <a href="#item3">Options</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
